#home-nav {
  background-color: rgba(72,72,72,0.4);;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;	
  margin-top: -3%;
}

#home-nav ul li {
  display: inline-block;
  padding-top: 10px;
}

#home-nav ul li a {
  padding-right: 10px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

#home-nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #FBB325
}

#home{
  display: flex;
  background-color:rgba(72,72,72,0.4);
  border-radius: 25px;
}


#info{
  padding-top: 80px;
  width:60%;
}

h2{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 45px;
  padding-left: 20px;
}

#coupon{
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f4b944;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ffae0d;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ffae0d;
  text-decoration: none;
}
.form .register-form {
  display: none;
}



